{% extends "base.html" %}

{% block title %}Utenti - Price Tracker{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        <h2><i class="fa fa-users"></i> Utenti</h2>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID Telegram</th>
                        <th>Username</th>
                        <th>Data Registrazione</th>
                        <th>Prodotti Monitorati</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.telegram_id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.created_at.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td>
                            <span class="badge bg-primary">{{ user.products_count }}</span>
                        </td>
                        <td>
                            <a href="{{ url_for('user_detail', user_id=user.telegram_id) }}" 
                               class="btn btn-sm btn-info">
                                <i class="fa fa-eye"></i> Dettagli
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}